$main-color: #757575;
$background-color: #ffffff;
$akcent-color: #2196f3;
$secondary-color: #212121;
$backgroung-secondary-color: #2f303a;
$background-color-buttom: #f5f4fa;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);